.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.not-vulnerable {
  font-size: 50%;
  font-weight: 400;
}

.vulnerable {
  font-size: 100%;
  font-weight: 400;
}

.buildpack-divider {
  height:5pt; visibility:hidden;
}

.team-name {
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: -0.6rem;
}

.modal-link {
  cursor: pointer;
}

.modal-link:hover {
  text-decoration: underline;
}